#filterbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

#filterbox label {
  font-size: 25px;
  padding-right: 20px;
}

#filter {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.reset {
  background-color: rgb(64, 124, 255);
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
  text-align: center;
  font-size: 15px;
  margin-left: 45px;
  margin-right: 45px;
}

.reset:hover {
  background-color: rgb(28, 68, 156);
}

#table_wrapper {
    display: none;
    position:relative;
    width: 90%; 
    margin-left: 5%; 
    margin-right: 5%;

}

#companytable {
  margin-top:20px;
  table-layout: fixed;
}

#companytable tr:nth-child(even){background-color: #f2f2f2;}

#companytable tr:hover {background-color: #ddd;}

#table_wrapper table {
  width:100%;

}

th {
  background-color: rgb(64, 124, 255);
}

td, th {
  border: 1px black solid;
  padding: 5px;
}

.title {
  font-size: 16pt;
  font-weight: bold;
}

th {
  position: sticky;
  top: 0;
}

a:link.link {
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


a:link {
  text-decoration: none;
}

.logo {

 
  height:40%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.enlargedImg {
  display: none;
  position: absolute;
}
#listImg {
 
max-width: 40%;
/*calc functionality taken from https://stackoverflow.com/a/11243226 */
height:calc((70vw / (16/10)) /7);
max-height: 20%;
object-fit:contain;


}

#enlargedListImg{

  max-width: 100%;
  /*calc functionality taken from https://stackoverflow.com/a/11243226 */
  height:calc((80vw / (16/10)) /7);
  max-height: 100%;
  object-fit:contain;

}