/* Style the navigation menu */
* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.currentPage {
    background-color: rgb(64, 124, 255);
}

.currentPage a, .pageLinks a {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    text-decoration: none;
}

.currentPage a {
    display: inline-block;
    font-size: 24pt;
}

.pageLinks a {
    background-color: rgb(52, 57, 68);
    border-top: 1px solid rgb(93, 101, 119);
    border-bottom: 1px solid rgb(93, 101, 119);
    display: block;
    font-size: 16pt;
}

ul {
    list-style-type: none;
}

.pageLinks a:hover {
    background-color: rgb(93, 101, 119);
}

.pageLinks {
    display: none;
}

.menuIcon {
    float: right;
    font-size: 28pt;
    padding-top: 6px;
    padding-right: 12px;
}

.menuIcon:hover {
    cursor: pointer;
}


.sitelogo {
    display: inline;
    width: 32px;
    height: 32px;
}
.mainLinks {
    

    
    margin-top:3vw;
    margin-bottom: 2vw;
    margin-right:10vw;
    margin-left:10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    text-align: center;
    font-size: 32px;
    line-height: 1.5em;
}
.mainLinks a:visited {
    color: white;
}
.mainLinks li {

    padding: 70px;
    background-color:rgb(145, 172, 252);
    display:inline-block;
}
.mainLinks a {
    color:black;
    padding: 12px;
}

@media (max-width: 900px) {
    .mainLinks {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;

    }
 
}

h1 {
    text-align: center;
    font-size: 50px;

}