/* Style the navigation menu */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.currentPage {
    background-color: rgb(64, 124, 255);
}

.currentPage a, .pageLinks a {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    text-decoration: none;
}

.currentPage a {
    display: inline-block;
    font-size: 24pt;
}

.pageLinks a {
    background-color: rgb(52, 57, 68);
    border-top: 1px solid rgb(93, 101, 119);
    border-bottom: 1px solid rgb(93, 101, 119);
    display: block;
    font-size: 16pt;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pageLinks a:hover {
    background-color: rgb(93, 101, 119);
}

.pageLinks {
    display: none;
}

.menuIcon {
    float: right;
    font-size: 28pt;
    padding-top: 6px;
    padding-right: 12px;
}

.menuIcon:hover {
    cursor: pointer;
}

.mainLinks {
    margin: 35px;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 35px;
    text-align: center;
    font-size: 32px;
    line-height: 1.5em;
}
.mainLinks a:visited {
    color: white;
}
.mainLinks li {
    width: 66.6%;
    padding: 70px;
    background-color:rgb(145, 172, 252);
}
.mainLinks a {
    color:black;
    padding: 12px;
}

@media (max-width: 700px) {
    .mainLinks {
        display: block;
    }
    .mainLinks li {
        margin: 10px;
    }
}

h1 {
    text-align: center;
    font-size: 50px;
}